<h1>
	<%= @project.name %>
</h1>

<% unless @project.client.nil? %>
	<p>
		Client: <%= link_to @project.client.name, @project.client.website, target: :_blank %>
	</p>
<% end %>

<% unless @project.delivered_at.blank? %>
	<p>
		Delivered
		<time datetime="<%= @project.delivered_at %>">
			<%= distance_of_time_in_words_to_now @project.delivered_at %>
		</time>
		ago
	</p>
<% end %>

<% unless @project.url.blank? %>
	<p>
		<%= link_to @project.url, @project.url, target: :_blank %>
	</p>
<% end %>

<% unless @project.description.blank? %>
	<p>
		<%= @project.description %>
	</p>
<% end %>

<h2>Project Images</h2>



<section class="show_images">
	<ul class="images">
		<% for image in @project.images %>

			<li class="image">
				<figure>
					<%= image_tag image.file.thumb.url %>
					<figcaption>
						<%= image.caption %>
					</figcaption>
				</figure>

				<ul class="manage">
					<li class="edit">
						<%= link_to 'Edit image', edit_project_image_path(@project, image) %>
					</li>
					<li class="destroy">
						<%= link_to 'Destroy image', project_image_path(@project, image), method: :delete, data: { confirm: 'Are you sure you wish to delete this image?' } %>
					</li>
				</ul>
			</li>

		<% end %>
	</ul>
</section>

<section class="new_image">
	<h3>Upload new image</h3>

	<%= form_for [@project, @project.images.new], html: { multipart: true } do |f| %>

		<div class="field">
			<%= f.label :caption %><br>
			<%= f.text_field :caption %>
		</div>

		<div class="field">
			<%= f.label :file %><br>
			<%= f.file_field :file %>
		</div>

		<div class="actions">
			<%= f.submit %>
		</div>

	<% end %>
</section>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', projects_path %>












