<h2>Edit image</h2>

<%= form_for [@project, @image] do |f| %>

	<div class="field">
		<%= f.label :caption %><br>
		<%= f.text_field :caption %>
	</div>

	<div class="field">
		<%= image_tag @image.file.url %>

		<p>
			Upload a new image to overwrite the current one
		</p>

		<%= f.label :file %><br>
		<%= f.file_field :file %>
	</div>

	<div class="action">
		<%= f.submit %>
	</div>

<% end %>