<!DOCTYPE html>
<html>
<head>
  <title>MyPortfolio</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="header_wrapper">
		<header>
			<h1>THIS. IS. PORTFOLIO!</h1>
		</header>
	</div>

	<div id="content_wrapper">

		<% if notice %>
			<p class="notice"><%= notice %></p>
		<% end %>

		<% if alert %>
			<p class="alert"><%= alert %></p>
		<% end %>

		<%= yield %>

	</div>

	<div id="footer_wrapper">

		<footer>
			<p>Just a footer</p>
		</footer>

	</div>

</body>
</html>
